numpy
gradio
albumentations
opencv-contrib-python
imageio
imageio-ffmpeg
pytorch-lightning==1.5.0
omegaconf
test-tube
streamlit
einops
transformers
webdataset
kornia
open_clip_torch
invisible-watermark
streamlit-drawable-canvas
torchmetrics
timm
addict
yapf
prettytable
safetensors
basicsr
